TURSO_DATABASE_URL="your database url"
TURSO_AUTH_TOKEN="your auth token"

BETTER_AUTH_SECRET="your secret"
BETTER_AUTH_URL=http://localhost:3000

GITHUB_CLIENT_ID="your github client id"
GITHUB_CLIENT_SECRET="your github client secret"